<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <title>商品详情页</title>
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<header class="nav-top">
    <div class="nav-log"></div>
    <ul class="nav-ul">
        <li class="nav-ul-color"><a href="index.html">首页</a></li>
        <li class="J-menu-all-bt"><a href="#">全作品</a></li>
        <li><a href="me.html">我</a></li>
        <li class="nav-ul-shop" id="nav-ul-shop"><b class="nav-sl">11</b><span>|</span><a href="#"><img src="images/nav-shop.png"></a>
            <ul class="nav-shopnr">
                <li><a href="#"><img src="images/nav-xlk1.png"><span>全部</span></a></li>
                <li><a href="#"><img src="images/nav-xlk2.png"><span>双肩包</span></a></li>
                <li><a href="#"><img src="images/nav-xlk3.png"><span>手拎包</span></a></li>
                <li><a href="#"><img src="images/nav-xlk4.png"><span>单肩包</span></a></li>
                <li><a href="#"><img src="images/nav-xlk5.png"><span>斜挎包</span></a></li>
                <li><a href="#"><img src="images/nav-xlk6.png"><span>钱包</span></a></li>
                <li><a href="#"><img src="images/nav-xlk7.png"><span>腰包</span></a></li>
                <li><a href="#"><img src="images/nav-xlk8.png"><span>其他</span></a></li>
            </ul>
        </li>
    </ul>
</header>
<!--商品图-->
<div class="detail-spt"><img src="images/detail-spxq.jpg"></div>
<!--商品信息-->
<div class="detail-info">
    <h3 class="detail-info-title">极月之道 单肩书包  |<span>￥798</span></h3>
    <em class="detail-info-span">YAKUZA MOON COLLECTION</em>
    <div class="detail-info-btn">
        <input id="detail-info-btn1" class="detail-info-jrgw" type="button" value="加入购物车"/>
        <input id="detail-info-btn2"  class="detail-info-ljgm" type="button" value="立即购买"/>
    </div>
    <p class="detail-info-p">要用很久的东西一定要尽善尽美,现在下单,<br>预计2016.08.22发货</p>
</div>
<!--商品信息end-->
<!--商品选择-->
<div id="wrapper" class="detail-shopxz">
    <ul id="scroller" class="detail-shopxz-ul">
        <li data-src="images/detail-spxz.jpg"><a href="#"><img src="images/detail-spxz.jpg"></a></li>
        <li data-src="images/detail-spxz.jpg"><a href="#"><img src="images/detail-spxz.jpg"></a></li>
        <li data-src="images/detail-spxz.jpg" class="bord"><a href="#"><img src="images/detail-spxz.jpg"></a></li>
        <li data-src="images/detail-spxz.jpg"><a href="#"><img src="images/detail-spxz.jpg"></a></li>
        <li data-src="images/detail-spxz.jpg"><a href="#"><img src="images/detail-spxz.jpg"></a></li>
    </ul>
</div>
<!--商品选择end-->
<!--商品介绍-->
<div class="product-detail" id="product">
    <h2 class="product-detail-h2">YAKUZA MOON COLLECTION</h2>
    <h3 class="product-detail-h3">纯真又致命 | 极道之月系列</h3>
    <div class="product-info">
        <p>各种内容各种内容各种内容各种内容各种内容各种内容各种内容</p>
    </div>
    <!--参数-->
    <div class="param-box" id="specification">
        <h4 class="param-box-h4">Parameter</h4>
        <h5 class="param-box-h5">参数</h5>
        <dl class="param-box-left">
            <dt><img src="images/parameter.jpg"></dt>
            <dd>
                <h5 class="param-left-h5">
                    <span>尺寸</span>
                    <span class="param-left-span"></span>
                </h5>
                <p>长/宽/厚：22cm × 13cm × 7.5cm</p>
            </dd>
        </dl>
        <dl class="param-box-right">
            <dt><img src="images/parameter.jpg"></dt>
            <dd>
                <h5 class="param-left-h5">
                    <span>容量</span>
                    <span class="param-left-span"></span>
                </h5>
                <p>长/宽/厚：22cm × 13cm × 7.5cm</p>
            </dd>
        </dl>
        <dl class="param-box-left">
            <dt><img src="images/parameter.jpg"></dt>
            <dd>
                <h5 class="param-left-h5">
                    <span>材质</span>
                    <span class="param-left-span"></span>
                </h5>
                <p>长/宽/厚：22cm × 13cm × 7.5cm</p>
            </dd>
        </dl>
    </div>
    <!--注意事项-->
    <div class="attention">
        <dl>
            <dt>
                <h5 class="param-left-h5">
                <span>注意事项</span>
                <span class="param-left-span"></span>
                </h5>
            </dt>
            <dd>
                <p>各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容</p>
            </dd>
        </dl>
        <dl>
            <dt>
            <h5 class="param-left-h5">
                <span>保养</span>
                <span class="param-left-span"></span>
            </h5>
            </dt>
            <dd>
                <p>各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容</p>
            </dd>
        </dl>
        <dl>
            <dt>
            <h5 class="param-left-h5">
                <span>购买须知</span>
                <span class="param-left-span"></span>
            </h5>
            </dt>
            <dd>
                <p>各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容各种内容</p>
            </dd>
        </dl>
    </div>
</div>
<!--商品介绍end-->
<!--商品推荐-->
<div class="shop-hot" id="recommend">
    <h4 class="param-box-h4">Recommend</h4>
    <h5 class="param-box-h5">推荐</h5>
    <div class="index-zptj-content recommend-nr" id="recommend-sptj">
        <a href="#">
            <dl class="index-zptj-dl">
                <dt><img src="images/index-zptj-img.jpg"></dt>
                <dd><strong>手工单肩长方包 浅紫</strong><span>¥786</span></dd>
            </dl>
        </a>
        <a href="#">
            <dl class="index-zptj-dl">
                <dt><img src="images/index-zptj-img.jpg"></dt>
                <dd><strong>手工单肩长方包 浅紫</strong><span>¥786</span></dd>
            </dl>
        </a>
        <a href="#">
            <dl class="index-zptj-dl">
                <dt><img src="images/index-zptj-img.jpg"></dt>
                <dd><strong>手工单肩长方包 浅紫</strong><span>¥786</span></dd>
            </dl>
        </a>
        <a href="#">
            <dl class="index-zptj-dl">
                <dt><img src="images/index-zptj-img.jpg"></dt>
                <dd><strong>手工单肩长方包 浅紫</strong><span>¥786</span></dd>
            </dl>
        </a>
    </div>
</div>
<!--商品推荐end-->
<!--评论-->
<div class="comment-nr" id="comment">
    <h4 class="param-box-h4">Comment</h4>
    <h5 class="param-box-h5">评论</h5>
    <div class="comment-btn">
        <a href="javascript:void(0)"  class="comment-btn-clo">全部</a>
        <a href="javascript:void(0)" >有图</a>
    </div>
    <div class="comment-input">
        <div class="comment-text">
            <textarea id="J-content" placeholder="说说你的看法......" name="body" ng-model="body" class="comment-textnr font-Light"></textarea>
            <div class="comment-text-img">
                <img src="images/index-zptj-img.jpg">
                <img src="images/index-zptj-img.jpg">

            </div>
            <a  href="javascript:void(0)" class="comment-text-a font-Light">添加图片<b>(0/9)</b><input type="file" class="upimg" name="file" index="0" multiple="multiple" accept="image/*"></a>
        </div>
        <div class="comment-submit-btn"><a id="J-submit" href="javascript:void(0)">发表</a></div>
    </div>
    <div class="user-pl">
        <dl class="user-pl-dl">
            <dt><img src="images/index-sd.jpg"></dt>
            <dd>
                <div>
                    <span class="username">bell</span>
                    <span class="user-time font-Light">2016-05-27 15:43:41</span>
                    <p class="user-hfnr"><span>啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦</span><a href="javascript:void(0)">回复</a></p>
                    <div class="hfh-text">
                        <textarea name="hfnr" ng-model="hfnr" class=" font-Light"></textarea>
                         <a href="javascript:void(0)">回复</a>
                    </div>
                </div>
            </dd>
        </dl>
        <dl class="user-pl-dl">
            <dt><img src="images/index-sd.jpg"></dt>
            <dd>
                <div>
                    <span class="username">bell</span>
                    <span class="user-time">2016-05-27 15:43:41</span>
                    <p class="user-hfnr"><span>啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦</span><a href="javascript:void(0)">回复</a></p>
                    <div class="user-hf-img">
                        <img src="images/index-zptj-img.jpg">
                        <img src="images/index-zptj-img.jpg">
                        <img src="images/index-zptj-img.jpg">
                        <img src="images/index-zptj-img.jpg">
                        <img src="images/index-zptj-img.jpg">
                        <img src="images/index-zptj-img.jpg">
                        <img src="images/index-zptj-img.jpg">
                        <img src="images/index-zptj-img.jpg">
                        <img src="images/index-zptj-img.jpg">
                    </div>
                </div>
                <div class="user-pl-nrbox">
                    <span class="username">bell</span>
                    <span class="user-time font-Light">2016-05-27 15:43:41</span>
                    <p class="user-hfnr2"><span>啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦</span><a href="javascript:void(0)">回复</a></p>
                </div>
            </dd>
         </dl>
    </div>
</div>
<!--评论end-->
<!--footer-->
<footer class="footer">
    <ul class="footer-ul">
        <li><a href="#"><img src="images/footer-icon1.png"></a></li>
        <li><a href="#"><img src="images/footer-icon2.png"></a></li>
        <li><a href="#"><img src="images/footer-icon3.png"></a></li>
        <li><a href="#"><img src="images/footer-icon4.png"></a></li>
    </ul>
    <p class="footer-bah">Copyright@2016 Kitayamastudio.com All Rights Reserved.<br>深圳松身尺码服饰设计有限公司 版权所有 粤ICP 备15073238号</p>
    <ul class="footer-nav">
        <li><a href="#">关于我们</a><span>|</span></li>
        <li><a href="#">用户协议</a><span>|</span></li>
        <li><a href="#">物流与售后说明</a></li>
    </ul>
</footer>
<!--悬浮-->
<div class="index_float">
    <a href="#" class="index_float_kf"></a>
    <a href="#" class="index_float_callback"></a>
</div>
</body>
</html>
<script src="js/zepto.js"></script>
<script src="js/showTip.js"></script>
<script src="js/iscroll.js"></script>
<script src="js/public.js"></script>
<script src="js/detail.js"></script>